schemas/mgiml/table.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Fri Sep 28 14:45:23 EDT 2012
== Model: mgiml
== Package: table
--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:include schemaLocation="../mgiml.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Column  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="Column">
    <xsd:sequence>
      <xsd:element name="columnNumber" type="xsd:integer"/>
      <xsd:element maxOccurs="unbounded" name="tableCell" type="TableCell"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="headers" type="Header"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  File  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="File">
    <xsd:sequence>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="tables" type="Table"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Header  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="Header">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="columns" type="Column"/>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Headers  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Headers">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="header" type="Header"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Row  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="Row">
    <xsd:sequence>
      <xsd:element name="rowNumber" type="xsd:integer"/>
      <xsd:element maxOccurs="unbounded" name="tableCell" type="TableCell"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Table  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Table">
    <xsd:sequence>
      <xsd:element name="title" type="xsd:string"/>
      <xsd:element name="headers" type="Headers"/>
      <xsd:element maxOccurs="unbounded" name="rows" type="Row"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TableCell  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="TableCell">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="chemicalSubstance" type="ChemicalSubstance"/>
      <xsd:element minOccurs="0" name="materialProperty" type="MaterialProperty"/>
      <xsd:element minOccurs="0" name="unitOfMeasure" type="UnitOfMeasure"/>
      <xsd:element name="row" type="Row"/>
      <xsd:element name="column" type="Column"/>
      <xsd:element minOccurs="0" name="numericValue" type="xsd:double"/>
      <xsd:element minOccurs="0" name="stringValue" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
