xml_form_editor/resources/files/schemas/_choice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<!-- The experiment name -->
  	<xsd:element name="root" type="Root"/>
  
	<xsd:complexType name="Root">
		<xsd:sequence>
			<xsd:element name="choice" type="Choice"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="Choice">
		<xsd:choice>
				<xsd:element name="element1" type="xsd:string"/>
	      		<xsd:element name="element2" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>