schemas/mgiml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Jul 26 11:38:20 EDT 2012
== Model: mgiml
== Package: mgiml
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="experiment" type="Experiment"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Experiment  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Experiment">
    <xsd:sequence>
      <xsd:element name="data" type="data"/>
      <xsd:element name="materials" type="materials"/>
      <xsd:element name="preparation" type="preparation"/>
      <xsd:element name="temperature" type="unit"/>
      <xsd:element name="pressure" type="unit"/>
      <xsd:element name="duration" type="unit"/>
      <xsd:element name="properties" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  bulkComposition  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="bulkComposition">
    <xsd:sequence>
      <xsd:element name="constituent" type="xsd:string"/>
      <xsd:element name="bulkFraction" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="materialPurity" type="xsd:double"/>
      <xsd:element name="materialForm" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  constituents  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="constituents">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="constituent" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  crystalStructure  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="crystalStructure">
    <xsd:sequence>
      <xsd:element name="spaceGroup" type="xsd:string"/>
      <xsd:element name="wyckoffSequence" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  data  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="data">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="measuredParameters" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  error  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="error">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="amount|percentage"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="test">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="lol|test"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  materials  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="materials">
    <xsd:sequence>
      <xsd:element name="constituents" type="constituents"/>
      <xsd:element name="diffusingSpecie" type="xsd:string"/>
      <xsd:element name="phases" type="phases"/>
      <xsd:element name="bulkComposition" type="bulkComposition"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  phase  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="phase">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="bulkFraction" type="xsd:positiveInteger"/>
      <xsd:element name="crystalStructure" type="crystalStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  phases  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="phases">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="phase" type="phase"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  preparation  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="preparation">
    <xsd:sequence>
      <xsd:element name="preparationContainer" type="xsd:string"/>
      <xsd:element name="samplePreparationMethod" type="xsd:string"/>
      <xsd:element name="samplePreparationSteps" type="samplePreparationSteps"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  samplePreparationStep  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="samplePreparationStep">
    <xsd:sequence>
      <xsd:element name="comment" type="xsd:string"/>
      <xsd:element name="surround" type="bulkComposition"/>
      <xsd:element minOccurs="0" name="temperature" type="unit"/>
      <xsd:element minOccurs="0" name="pressure" type="unit"/>
      <xsd:element minOccurs="0" name="duration" type="unit"/>
      <xsd:element name="method" type="xsd:string"/>
      <xsd:element minOccurs="0" name="container" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sampleGeometry" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  samplePreparationSteps  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="samplePreparationSteps">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="samplePreparationStep" type="samplePreparationStep"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  unit  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="unit">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:double"/>
      <xsd:element name="unit" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error" type="error"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
